
img {
  width: 100px;
  height: 100px;
}

/* Stylesheet for Better Autocomplete jQuery plugin by Didrik Nordström */

/* Reset styles for lists */

.better-autocomplete,
.better-autocomplete > .result {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.better-autocomplete {
  text-align: left;
  font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
  overflow: auto;
  cursor: default;
  background: white;
  border-bottom: 1px solid #bfbfbf;
  z-index: 10;
  max-height: 330px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Visually indicate that results are in the topmost layer */
}

/* Groups */

.better-autocomplete > .group {
  position: relative;
  padding: 3px;
  text-align: center;
  background: #e7e7e7;
  border-color: #bfbfbf;
  border-width: 1px 1px 0 1px;
  border-style: solid;
}

.better-autocomplete > .group > h3 {
  font-size: 11px;
  color: #555;
  padding: 0;
  margin: 0;
}

/* Results */

.better-autocomplete > .result {
  position: relative;
  padding: 5px 7px;
  background: white;
  border-color: #bfbfbf;
  border-width: 1px 1px 0 1px;
  border-style: solid;
}

.better-autocomplete > .result > h4 {
  font-size: 12px;
  color: #3c3c3c;
  padding: 0;
  margin: 0 0 2px 0;
}

.better-autocomplete > .result > p {
  font-size: 11px;
  line-height: 1.3;
  color: #6f6f6f;
  padding: 0;
  margin: 0;
}

/* Highlighting */

.better-autocomplete > .result.highlight {
  background: #0075ba;
  border-top-color: #1f4a64;
}

.better-autocomplete > .result.highlight > h4,
.better-autocomplete > .result.highlight > p {
  color: white;
}

/* ARIA */

.better-autocomplete-aria {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

#queryForm {
  padding: 20px;
}

#slider-range {
  width: 300px;
  margin-bottom: 20px;
}

.square {
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  background-color: #fff;
  width: 50px;
  border-radius: 100%;
}

/*Qing made changes below */
#top{
	background-color:#000;
	height:50px;
	width:100%
	position:absolute;
	top:0;
	left:0;
	}
#topTitle{
	color:#FF0;
	font-family:"open sans", Arial, Helvetica, sans-serif;
	font-size:14px;
	position:absolute;
	left:20px;
	top:15px;}
body{
	background-color:#F2F2F2;
	}
h2{
	font-size:14px;
    font-family:Helvetica, sans-serif;
	font-weight: bold;
	}
label{
	font-size:14px;
    font-family:Helvetica, sans-serif;
	color:#666;
	font-weight:400;
	}
input{
	border:1px solid #999;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#cooper{
    padding:5px 15px; 
	color:#fff;
	font-weight:700;
    background-color:#999; 
    border:none;
    cursor:pointer;
    -webkit-border-radius:10px;
	-moz-border-radius: 10px;
    border-radius:10px; 
}
#formFrame {
	width:30%;
	float:left;
	height:100%;
	}
#viz {
	width:70%;
	min-height:500px;
	margin-left:20px;}
